<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div>
    <%= link_to user_path(visitor) do %>
        <%= visitor.name %>さん
    <% end %>
    <% if notification.action=='dm' %>
    があなたにDMを送りました
    <% end %>
</div>
